.stickman-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.head-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 6rem;
  height: 8rem;
  border: 1px solid black;
  border-radius: 45%;
  background-color: rgb(220, 208, 194);
}

.ear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1.5rem;
  background-color: rgb(39, 41, 41);
  border-radius: 0.3rem;
  border: 1px solid black;
}

.ear-hole {
  width: 50%;
  height: 50%;
  background-color: rgb(146, 177, 177);
  border: 1px solid black;
}

.eyes-container {
  display: flex;
  justify-content: space-between;
  width: 4rem;
  height: 1rem;
}

.eye {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 0.8rem;
  background-color: rgb(160, 147, 147);
  border-radius: 50%;
  border: 1px solid black;
}

.pupil {
  width: 30%;
  height: 50%;
  background-color: rgb(3, 102, 20);
  border-radius: 50%;
}

.nose {
  width: 1rem;
  height: 2rem;
  background-color: rgb(103, 76, 9);
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 25% 100%);
  border: 1px solid black;
}

.mouth {
  width: 2.5rem;
  height: 0.3rem;
  background-color: rgb(154, 29, 98);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border: 1px solid black;
}

.neck {
  height: 2rem;
  width: 1.5rem;
  border: 1px solid black;
  background-color: rgb(220, 208, 194);
}

.body {
  display: flex;
  justify-content: center;
  width: 30rem;
  height: 15rem;
}

.body-main {
  height: 15rem;
  width: 10rem;
  border: 1px solid black;
  background-color: rgb(97, 32, 32);
  clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 25% 100%);
}

.arm {
  width: 10rem;
  height: 1rem;
  background-color: rgb(26, 37, 107);
  border: 1px solid black;
}

.left-arm {
  transform: rotateZ(175deg);
}

.right-arm {
  transform: rotateZ(10deg);
}

.legs {
  height: 15rem;
  width: 9rem;
  display: flex;
  justify-content: space-between;
}

.leg-container {
  display: flex;
  flex-direction: column;
}

.left-leg-container {
  align-items: flex-end;
}
.right-leg-container {
  align-items: flex-start;
}

.leg {
  height: 15rem;
  width: 2rem;
  background-color: rgb(67, 67, 16);
  border: 1px solid black;
}

.foot {
  height: 1rem;
  width: 4rem;
  background-color: rgb(193, 113, 22);
  border: 1px solid black;
}
